<div class="row hidden-print">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Manifiesto de pasajeros <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link" ng-click="back()" ng-hide="showblack" title="Volver"><i class="fa fa-arrow-left"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div id="step-1" class="content" style="display: block;">
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="dateinit">Fecha <span class="required">*</span></label>
                            <div class="col-md-2 col-sm-2 col-xs-12 form-group has-feedback">
                                <input type="text" id="dateinit" class="form-control has-feedback-left active" ngfocus order="1" ng-model="filter.dateinit"
                                    validate="date" required data-inputmask="'mask': '99/99/9999'" aria-describedby="inputSuccess2Status">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="dateend">Hasta <span class="required">*</span></label>
                            <div class="col-md-2 col-sm-2 col-xs-12 form-group has-feedback">
                                <input type="text" id="dateend" class="form-control has-feedback-left active" ngfocus order="1" ng-model="filter.dateend"
                                    validate="date" required data-inputmask="'mask': '99/99/9999'" aria-describedby="inputSuccess2Status">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="idtravel">Itinerario</label>
                            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                <select id="idtravel" class="form-control" ng-options="travel.numberid for travel in listtravel" ng-model="selectedtravel"
                                    required></select>
                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-12">
                                <button type="button" class="btn btn-primary" ng-click="selectedtravelchange()" title="Generar manifiesto">Generar</button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="table-responsive">
                                        <div ng-show="listschedule.length <= 0" class="alert-no-data">No existen datos para mostrar</div>
                                        <table ng-show="listschedule.length > 0" class="table table-striped jambo_table bulk_action">
                                            <thead class="headings">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Fecha</th>
                                                    <th>Hora salida</th>
                                                    <th>Hora llegada</th>
                                                    <th>Detalle</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="even pointer" ng-repeat="schedule in listschedule" ng-class="{selectelement:scheduleselected.id==schedule.id}">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{schedule.dateregister}}</td>
                                                    <td>{{schedule.arrival}}</td>
                                                    <td>{{schedule.departure}}</td>
                                                    <td>{{schedule.detail}}</td>
                                                    <td ng-click="scheduleselected(schedule)"><i class="fa fa-arrow-right" title="Generar"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="step-2" class="content" style="display: none;">
                    <form class="form-horizontal form-label-left">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <button type="button" class="btn btn-primary pull-right" ng-show="listticket.length > 0" ng-click="printReport()" title="Imprimir reporte">
                                                <i class="fa fa-print"></i> Imprimir</button>
                                        </div>
                                    </div>
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead class="headings">
                                            <tr>
                                                <th colspan="4" class="textCenter">MANIFIESTO DE PASAJEROS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="even pointer">
                                                <td><b>FECHA:</b> {{listticket[0].Schedule.dateregister}}</td>
                                                <td><b>Salida:</b> {{listticket[0].origin}} <b>Hr:</b>{{listticket[0].Schedule.arrival}}</td>
                                                <td><b>Llegada:</b> {{listticket[0].destination}} <b>Hr:</b> {{listticket[0].Schedule.departure}}
                                                    </td>
                                                <td><b>Tipo Bus:</b> {{listticket[0].typebus}} <b>Placa:</b> {{listticket[0].Bus.numberid}}</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead class="headings">
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Nro Licencia</th>
                                                <th>Tipo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="even pointer" ng-repeat="item in listdriver">
                                                <td>{{item.Driver.fullName}}</td>
                                                <td>{{item.Driver.numberid}}</td>
                                                <td>{{item.drivertype}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="table-responsive">
                                        <table class="table table-striped jambo_table bulk_action">
                                            <thead class="headings">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nro asiento</th>
                                                    <th>Nombre</th>
                                                    <th>Nro CI</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="even pointer" ng-repeat="ticket in listticket" ng-class="{selectelement:ticketselected.id==ticket.id}">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{ticket.number}}</td>
                                                    <td>{{ticket.fullname}}</td>
                                                    <td>{{ticket.numberid}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sizeTicket" id="manifes-file">
    <p class="textCenter"><b>MANIFIESTO DE PASAJEROS</b></p>
    <p class="textCenter">------------------------------------------------------------</p>
    <p class="textCenter"><b>FECHA:</b> {{listticket[0].Schedule.dateregister}}<br />
        <b>Salida:</b> {{listticket[0].origin}} <b>Hr:</b>{{listticket[0].Schedule.arrival}}<br/>
        <b>Llegada:</b> {{listticket[0].destination}} <b>Hr:</b> {{listticket[0].Schedule.departure}}<br/>
        <b>Tipo Bus:</b> {{listticket[0].typebus}} <b>Placa:</b> {{listticket[0].Bus.numberid}}</p>

    <table class="table">
        <thead class="table">
            <tr>
                <th class="textLeft">Nombre</th>
                <th class="textLeft">Nro Licencia</th>
                <th class="textLeft">Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr class="even pointer" ng-repeat="item in listdriver">
                <td class="textLeft">{{item.Driver.fullName}}</td>
                <td class="textLeft">{{item.Driver.numberid}}</td>
                <td class="textLeft">{{item.drivertype}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th class="textLeft">Nro Asiento</th>
                <th class="textLeft">Nombre</th>
                <th class="textLeft">Nro CI</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ticket in listticket">
                <td class="textLeft">{{ticket.number}}</td>
                <td class="textLeft">{{ticket.fullname}}</td>
                <td class="textLeft">{{ticket.numberid}}</td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    @media print {
        label {
            display: block;
            margin: 5px 0;
        }
        #manifes-file {
            font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
            font-weight: normal;
            font-style: normal;
            width: 100% !important;
            font-size: 14px !important;
            text-align: center;
            display: block !important;
        }
        #manifes-file div {
            border-bottom: solid #BBB 1px;
        }
        #manifes-file .footer {
            border-bottom: none;
        }
    }
</style>